@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/* Color tags */
.hench-white {
    background-color: #FFFFFF;
    color: #000000;
}

.hench-l-grey {
    background-color: #DDDDDD;
    color: #000000;
}

.hench-m-grey {
    background-color: #BBBBBB;
    color: #000000;
}

.hench-d-grey {
    background-color: #444444;
    color: #FFFFFF;
}

.hench-black {
    background-color: #111111;
    color: #FFFFFF;
}

/* Text */
.hench-sheet-container {
    font-family: 'Oswald';
}

.hench-emphasized {
    font-style: italic;
}

.hench-strong {
    font-weight: bold;
}

.hench-centered {
    text-align: center;
}

.hench-title {
    font-weight: 500;
    font-size: 1.5em;
}

.hench-huge {
    font-size: 3em;
    font-weight: 700;
}

/* Flexbox */
.hench-row {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.hench-sheet-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hench-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hench-box.hench-box-stretch {
    align-items: stretch;
}

.hench-box > * {
    flex-grow: 1;
    flex-shrink: 0;
    align-items: center;
}

.hench-box.hench-box-stretch > * {
    align-items: stretch;
    flex-basis: auto;
}

.hench-flex-fixed {
    flex-grow: 0;
    flex-shrink: 0;
}

.hench-flex-resizeable {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}

.hench-gap-narrow {
    gap: 0.5em;
}

.hench-gap-wide {
    gap: 1em;
}

.hench-padding-narrow {
    padding: 0.5em;
}

.hench-padding-wide {
    padding: 1em;
}

/* Inputs */
.hench-sheet-container input[type="text"], .hench-sheet-container select {
    border: 0px;
    border-bottom: 1px solid #000;
    border-radius: 0px;

    background-color: #00000000;
    height: auto;
    padding: 0;
    padding-top: 1px;
    margin: 0;
}

.hench-sheet-container textarea {
    resize: vertical;
}

/* Specific */

.hench-row-even{
    justify-content: space-evenly;
}

.hench-stress-checkboxes-2-rows {
    display: flex;
    flex-wrap: wrap;
    gap: 3.5%;
    padding: 3.5%;
    justify-content: center;
}

.hench-stress-checkboxes-2-rows > input[type="checkbox"] {
    width: 12.5%;
    flex-basis: 12.5%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0.5em;
}

.hench-icon {
    aspect-ratio: 1;
    width: 10em;
}

.hench-harm-fixed-width {
    width: 8em;
    text-align: center;
    margin: auto;
}

.hench-harm-input-cell {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

.hench-harm-input-cell > input[type=text] {
    border: 0px solid #000;
}

.hench-harm-row {
    border-bottom: 1px solid #000;
    align-items: stretch;
}

.hench-list-2-col {
    columns: 2;
    -moz-columns: 2;
    -webkit-columns: 2;
}